@font-face {
    font-family: Vazir;
    src: url('./Vazir.ttf');
}

body {
    width: auto;
    direction:rtl ; 
    float: center;
    font-family: Vazir;
}

p {
    direction: inherit;
    font-family: Vazir;
}

header {
    direction: inherit;
    margin-bottom: 35px;
    font-family: Vazir;
}

footer {
    direction: ltr;
    margin-top: 200px;
}

h1 {
    font-family: Vazir;
    direction: inherit;
    color: white;
    text-align: center;
}

h2 {
    font-family: Vazir;
}

.description {
    color: white;
    text-align: center;
    font-size: 16px;
    padding-bottom: 15px;
}

.slogan {
    text-align:right;
    float: right;
    direction:rtl; 
}